<form [formGroup]="addOrderForm" (ngSubmit)="onSubmit()">
	<label> Order Date: </label>
	<input type="text" formControlName="createdDate" [attr.disabled]="true" />
	<br />
	<label> Customer: </label>
	<select formControlName="customerId">
		<option value="{{ customer.id }}" *ngFor="let customer of customers">
			{{ customer.name }}
		</option>
	</select>
	<span
		class="help-block"
		*ngIf="
			addOrderForm.get('customerId')?.errors?.required &&
			addOrderForm.get('customerId')?.touched
		"
		>Field is required</span
	>

	<br />
	<label> Status: </label>
	<select formControlName="status">
		<option value="{{ status.id }}" *ngFor="let status of statuses">
			{{ status.title }}
		</option>
	</select>
	<span
		class="help-block"
		*ngIf="
			addOrderForm.get('status')?.errors?.required &&
			addOrderForm.get('status')?.touched
		"
		>Field is required</span
	>

	<br />
	<p>Total Cost: {{ newOrderService.totalCost }}</p>
	<span
		class="help-block"
		*ngIf="newOrderService.totalCost <= 0; else templateName"
		>No products are selected</span
	>

	<ng-template #templateName>
		<table class="table table-bordered">
			<thead>
				<tr>
					<td>Id</td>
					<td>Product Name</td>
					<td>Quantity</td>
					<td>Total Price</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let orderDetail of newOrderService.products">
					<td>{{ orderDetail.productId }}</td>
					<td>{{ orderDetail.name }}</td>
					<td>{{ orderDetail.quantity }}</td>
					<td>{{ orderDetail.price }}</td>
					<td>
						<Button
							type="button"
							(click)="onDeleteSelected(orderDetail.productId)"
							>Delete</Button
						>
					</td>
				</tr>
			</tbody>
		</table>
	</ng-template>

	<h1>Products</h1>
	<div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<td>ProductId</td>
					<td>Product Name</td>
					<td>Product Category</td>
					<td>Product Size</td>
					<td>Product Quantity</td>
					<td>Product Price</td>
					<td>Creation Date</td>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let product of products">
					<td>
						<a [routerLink]="[product.id]">{{ product.id }}</a>
					</td>
					<td>{{ product.productName }}</td>
					<td>{{ product.categoryId }}</td>
					<td>{{ sizeService.translate(product.size) }}</td>
					<td>{{ product.availableQuantity }}</td>
					<td>{{ product.price }}</td>
					<td>{{ product.creationDate }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<label>Comment:</label><br />
	<textarea cols="50" rows="5" formControlName="comment"></textarea>
	<br />
	<button type="submit" [disabled]="!addOrderForm.valid">Save</button>
	<button type="button">Cancel</button>
</form>
