<h1>Products</h1>
<div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>ProductId</td>
        <td>Product Name</td>
        <td>Product Category</td>
        <td>Product Quantity</td>
        <td>Product Price</td>
        <td>Creation Date</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td><a [routerLink]="[product.id]">{{product.id}}</a></td>
        <td>{{product.productName}}</td>
        <td>{{ getCategoryName(product.categoryId) }}</td>
        <td>{{product.availableQuantity}}</td>
        <td>{{product.price}}</td>
        <td>{{product.creationDate}}</td>
        <td><button (click)="onDeleteClicked(product.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>



<!-- <button routerLink="/product/add">Add Product</button>
<table>
    <tr>
      <th *ngFor="let c of columns">{{c}}</th>
    </tr>
    <tr *ngFor="let ch of products">
    <app-product-element 
        [product]="ch" 
        [columns]="columns"></app-product-element>
    </tr>
  </table> -->