<h1>Customers</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Customer Name</td>
            <td>Address</td>
            <td>Total Order Cost</td>
            <td>Orders count</td>
        </tr>        
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <td>{{ customer.name}}</td>
            <td>{{ customer.address }}</td>
            <td> {{ orderCost.get(customer.id )}} </td>
            <td>{{ orderQuantity.get(customer.id) }}</td>
        </tr>
    </tbody>
</table>


<!-- <div class="row">
    
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-customer-list-element
        *ngFor="let customerElem of customers"
        [customer]="customerElem"></app-customer-list-element>
    </div>
</div> -->
